.navbar{
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: blueviolet;
    margin-bottom: 20px;
}
.navbar>*{
    margin: 0px 30px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
 
@media screen and (max-width: 1000px) {
    .navbar{
        padding: 12px;
        margin-bottom: 15px;
    }
    .navbar>*{
        margin: 0px 20px;
        text-decoration: none;
        color: white;
        font-size: 18px;
    }
}
@media screen and (max-width: 450px) {
    .navbar{
        padding: 8px;
        margin-bottom: 10px;
    }
    .navbar>*{
        margin: 0px 10px;
        text-decoration: none;
        color: white;
        font-size: 14px;
    }
}